
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Riot&display=swap');


@import "tailwindcss";


body{
  font-family: "Outfit";
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}